<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

  <body id="<%= params[:controller].parameterize %>_controller">
    <%= render 'layouts/nav' %>
    <%= render 'layouts/flashmessages' %>
    <!-- Container Controller Action -->
    <div class="container__<%= params[:controller].parameterize %>_<%= params[:action].parameterize %>">
        <%= yield %>
      </div>
  </body>

</html>
